[defaults]
result_format = yaml
inventory = inventories/hosts.yml
roles_path = roles
library = library
host_key_checking = False
interpreter_python = /usr/bin/python
nocows = True

[privilege_escalation]
become = True
become_method = sudo
