[defaults]
result_format = yaml
inventory = inventories/hosts.yml
roles_path = roles
library = library:library/ansible-aur/plugins/modules
host_key_checking = False
interpreter_python = /usr/bin/python
nocows = True
vault_password_file = .vault_pass

[privilege_escalation]
become = True
become_method = sudo
