[Desktop Entry]
Name=Firefox (Private)
GenericName=Web Browser
Exec=/usr/local/bin/firefox-private %u
Icon=firefox
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;
